
@media only screen and (max-width: 600px) {
  .input>input{
    width:50%;
  }
}


.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  
  height: 450px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin: 0.5rem;
  margin-bottom: 0rem;
  /* overflow: hidden;
  overflow-y: scroll; */
  overflow: auto;
  overflow-anchor: auto;
  scroll-behavior: smooth;

}

.chatfooter {
  margin-top: auto;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
 font-size:  0.5 rem;
 
}

.input {
  padding: 0.1rem;
  margin: 0.5rem;
  /* background: rgba(28,30,58,1); */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  width:20rem;
}

.input>input {
  background: transparent;
   border: none;
   outline:none;
  padding: 0.5rem;
  color: white;
  display:flex;
  justify-content: end;
  /* width: 100%; */

}

button.send {
  background: transparent;
  border: none;
  display:flex;
  justify-content:flex-end;
  align-items: center;
 
}


.chats {

  width: 100%;
  max-width: 70rem;
  height: 100%;
}

.chat {
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatimage {
  object-fit: cover;
  width: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot {
  background: dodgerblue;
  width: fit-content;
  border-radius: 0.5rem;
  color: white;
}



